// 1. Your custom variables and variable overwrites.

// CONTAINER
$container-medium-max-width: 1450px;

// width (secondary nav)
$width-wsmall-width: 120px;
$width-xsmall-width: 60px;
$width-xxsmall-width: 30px;
$width-medium-large-width: 350px;
$width-xlarge-xxlarge-width: 650px;
$width-max-width: 1800px;

// height
$height-xxsmall-height: 60px; // ( _agenda_ ? )
$height-xsmall-height: 90px; // primary nav, player audio
$height-small-height: 155px;

// MARGIN
$global-margin: 20px;
$global-small-medium-margin: 30px;
$global-medium-large-margin: $width-xsmall-width;
$base-heading-margin-top: 20px;
$global-xsmall-margin: 5px;

// color (texte)
$global-color: #434f46;
$global-link-color: #bfab7e;
$global-link-hover-color: darken($global-link-color, 10%);
$global-emphasis-color: $global-link-color;
$base-link-color: $global-color;
$inverse-global-inverse-color: #ffffff;

// background
$global-background: #ffffff;
$global-muted-background: #f7f7f7; // gris
$global-primary-background: #e8e4e3; // gris rosé
$global-secondary-background: $global-color; // vert telegraphe
$global-third-background: #efefef;
$global-danger-background: #cd385e;
$inverse-global-primary-background: $global-link-color;

// OVERLAY
$overlay-default-background: rgba(#efeceb, 0.9);
/* $overlay-primary-background: $global-primary-background; */

//FONT
$global-font-size: 16px;
$global-font-family: 'Nunito', 'Helvetica Neue', Arial, sans-serif;
$base-heading-font-family: 'Oswald', sans-serif;
$base-heading-font-family-v2: 'Playfair Display', serif;
$base-heading-letter-spacing: 1px;
$base-body-font-weight: 300;
$base-strong-font-weight: 600; // text strong
$base-xstrong-font-weight: 400; // heading bold
$base-heading-font-weight: 200;
$text-bold-font-weight: $base-strong-font-weight;
$base-heading-text-transform: uppercase;
$heading-primary-font-size-l: 1.3rem;
/* $heading-primary-line-height: 1;
$heading-primary-line-height-l: 1; */
$heading-hero-font-size-l: 4.5rem;
$article-meta-font-size: 0.7rem;
$article-meta-color: $global-background !important;
$global-xsmall-font-size: 0.7rem;

$global-xxlarge-font-size: 2.625rem;
$global-xlarge-font-size: 2.5rem;
$global-large-font-size: 1.5rem;

$base-h2-line-height: 1.2;
$base-h4-line-height: 1;

// CARD
$card-title-font-size: $global-font-size;
$card-small-body-padding-vertical: round($global-margin / 2);
$card-xsmall-footer-padding-vertical: round($global-margin / 2.5);

// navbar (primary)
$navbar-nav-item-height: 70px;
$nav-default-item-color: $global-color;
$nav-default-item-hover-color: $global-link-color;

// NAV
$nav-item-padding-vertical-compact: 1px;

// offcanvas
$offcanvas-bar-width: 100%;

// ICONNAV (secondary)
$iconnav-item-color: $global-link-color;
$iconnav-item-hover-color: $global-background;
$iconnav-item-active-color: $global-background;
$iconnav-margin-vertical: 25px;

// section
$section-default-background: transparent;

// GRID
$global-xsmall-gutter: 10px;
$grid-xsmall-gutter-horizontal: $global-xsmall-gutter;
$grid-xsmall-gutter-vertical: round($global-xsmall-gutter * 2.5);

// GUTTER
$global-small-medium-gutter: 30px;

// BORDER
$global-border: #b7b6b4;
$base-hr-border: #d4d0cf;
$border-rounded-border-radius: 10px;

// DIVIDER
$divider-large-width: 700px;
$divider-margin-vertical: 70px;

// link
// $link-text-hover-color: $global-muted-color;
$link-heading-hover-color: $global-primary-background;
$base-link-text-decoration: underline;
$base-link-hover-text-decoration: underline;

// button
$button-link-hover-text-decoration: none;
$button-default-background: $global-background;
$button-default-hover-background: $global-link-color;
// $button-third-background: $global-third-background;

// $inverse-button-default-background:             $inverse-global-primary-background !default;
// $inverse-button-default-color:                  $inverse-global-inverse-color !default;
// $inverse-button-default-hover-background:       darken($inverse-button-default-background, 5%) !default;
// $inverse-button-default-hover-color:            $inverse-global-inverse-color !default;

// ICON (footer)
$icon-button-background: $global-link-color;
$icon-button-color: $global-color;
$icon-button-hover-color: darken($global-color, 10%);
$inverse-icon-button-background: $global-color;
$inverse-icon-button-color: $global-background;
$inverse-icon-link-color: $global-color;

// DROP (~tooltip)
$drop-width: auto;
$drop-margin: 10px;

// BADGE
$badge-hover-color: none;
$badge-size: 70px;

// FORM
$form-placeholder-color: $global-link-color;
$form-focus-color: $global-link-color;
$form-background: transparent;
$form-focus-background: transparent;

// LIST
$list-margin-top: $global-xsmall-margin;

// TABLE
$table-xsmall-cell-padding-vertical: 0;
$table-xsmall-cell-padding-horizontal: 0;

// PROGRESS
$progress-height: 3px;
$progress-bar-background: lighten($global-link-color, 10%);
$progress-background: $global-background;

// DOTNAV
$dotnav-item-width: 18px;
$dotnav-item-background: $global-muted-background;
$dotnav-item-hover-background: darken($dotnav-item-background, 5%);
$dotnav-item-onclick-background: $global-link-color;
$dotnav-item-active-background: lighten($global-link-color, 10%);

// 2. Import default variables and available mixins.
@import '../../node_modules/uikit/src/scss/variables.scss';
@import '../../node_modules/uikit/src/scss/mixins.scss';

// 3. Your custom mixin overwrites.
@import './custom.scss';

// 4. Import UIkit.
@import '../../node_modules/uikit/src/scss/uikit.scss';
