// BREAKPOINTS
/*
--uk-breakpoint-s: 640px;
--uk-breakpoint-m: 960px;
--uk-breakpoint-l: 1200px;
--uk-breakpoint-xl: 1600px;
*/

// HOME
#index_v2 {
  $global-color: #1b1b1b;
  $global-link-hover-color: #fefefe;
  $global-inverse-color: #cbcbcb;
  * {
    font-family: 'Playfair Display', serif !important;
    color: $global-color;
  }
  .wrapper {
    position: relative;
  }
  a:hover {
    // a:hover svg
    color: $global-link-hover-color;
    fill: $global-link-hover-color;
    svg {
      fill: $global-link-hover-color;
    }
    // stroke: white !important;
  }
  background-image: url('../assets/background-telegraphe.jpg');
  background-size: cover;
  animation: fadein 1s;
  @keyframes fadein {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
  // background-repeat: no-repeat;
  @media screen and (min-width: $breakpoint-medium) {
    &.shop #bg_2 {
      background-image: url('../assets/background-shop.jpg');
    }
    &.agenda #bg_2 {
      background-image: url('../assets/background-agenda.jpg');
    }
    &.podcasts #bg_2 {
      background-image: url('../assets/background-podcast.jpg');
    }
    #bg_2 {
      // background-size: cover;
      position: absolute;
      img {
        position: fixed;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1s;
        &.fadein {
          opacity: 1;
        }
        &.fadeout {
          opacity: 0;
        }
      }
    }
  }

  // MAIN
  main {
    font-size: 4vw;
    letter-spacing: 3px;
    margin: 0 15vw;
    .items {
      @media screen and (max-width: $breakpoint-small-max) {
        // add uk-flex-column uk-flex-around
        flex-direction: column;
        align-content: normal;
        justify-content: center;
        font-size: 2rem;
      }
    }
    // items center fix
    .item {
      a {
        display: block;
        padding-bottom: 2rem;
        text-decoration: none;
      }
      @media screen and (max-width: $breakpoint-small-max) {
        padding: 0;
      }
    }
    #item-shop {
      top: 5px;
      @media screen and (max-width: $breakpoint-small-max) {
        left: -1rem;
        span {
          padding-right: 0 !important;
          position: absolute;
          right: -26px;
          top: -14px;
          width: 38%;
        }
      }
    }
  }

  // HEADER
  header {
    #primary-nav {
      // logo telegraphe v2
      ul {
        top: 3rem;
        right: 2.5rem;
      }
    }
    // nev verticale
    #secondary-nav {
      left: 2.3rem;
      .uk-iconnav-vertical > * {
        padding-left: 0;
        padding-top: 41px;
      }
    }
    // Mobile nav
    #mobile_nav .uk-navbar-item.uk-icon svg {
      width: 65px;
    }
  }

  // FOOTER
  footer {
    padding-left: 5rem;
    padding-right: 2.2rem;
    * {
      font-size: 0.9rem !important;
    }
    // nav left
    .uk-navbar-nav > li > a {
      padding: 0 14px;
    }
    // nav right
    .uk-iconnav > * {
      padding-left: 20px;
    }
    @media screen and (max-width: $breakpoint-small-max) {
      padding: 0;
    }
  }

  // NEWSLETTER
  form#new_contact {
    input.uk-input {
      border-color: $global-color;
      &::placeholder {
        color: $global-color;
      }
    }
    button.uk-button {
      background: none;
    }
  }

  // NIGHT MODE
  &.night {
    background-image: url('../assets/background-telegraphe-night.jpg');
    background-color: $global-color;
    * {
      color: $global-inverse-color;
    }
  }
}

// BASE
@mixin hook-base-heading() {
  letter-spacing: $base-heading-letter-spacing;
  .uk-heading-primary {
    font-weight: $base-xstrong-font-weight;
  }
}
@mixin hook-base-misc() {
  h1 + h2,
  h2 + h3,
  h1 + .uk-h3 {
    margin-top: -20px;
  }
  h3,
  .uk-h3 {
    color: $global-color;
    font-weight: $base-xstrong-font-weight;
    font-size: 1rem;
  }
  h2 a {
    color: $global-link-color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $global-link-hover-color;
    }
  }
}
@mixin hook-base-body() {
  * + figcaption {
    margin-top: $base-margin-vertical;
  }
  b,
  strong {
    font-weight: bolder;
  }
}
@mixin hook-base-h4() {
  font-family: $global-font-family;
  color: $global-color;
  text-transform: none;
  margin-bottom: 0 !important;
  font-weight: 600;
}

// HEADING
@mixin hook-heading-hero() {
  letter-spacing: 0.1rem;
}

// GRID
@mixin hook-grid-misc() {
  /*
  * Xsmall
  */

  /* Horizontal */
  .uk-grid-xsmall {
    margin-left: (-$grid-xsmall-gutter-horizontal);
  }
  .uk-grid-xsmall > * {
    padding-left: $grid-xsmall-gutter-horizontal;
  }
  /* Vertical */
  .uk-grid + .uk-grid-xsmall,
  .uk-grid-xsmall > .uk-grid-margin,
  * + .uk-grid-margin-xsmall {
    margin-top: $grid-xsmall-gutter-vertical;
  }

  @media screen and (max-width: $breakpoint-small-max) {
    /*
   * Collapse
   */

    /* Horizontal */
    /* .uk-grid-collapse\@-m { margin-left: 0; }
   .uk-grid-collapse\@-m > * { padding-left: 0; } */

    /* Vertical */
    .uk-grid + .uk-grid-collapse\@-m,
    .uk-grid-collapse\@-m > .uk-grid-margin {
      margin-top: 0;
    }
  }
}

// HEIGHT
@mixin hook-height-misc() {
  .uk-height-xxsmall {
    height: $height-xxsmall-height;
  }
  .uk-min-height-xxsmall\@m {
    @media screen and (min-width: $breakpoint-medium) {
      min-height: $height-xxsmall-height + 10;
      height: auto;
    }
  }
  /*
  * Xsmall (primary nav)
  */
  .uk-height-xsmall {
    height: $height-xsmall-height;
  }
  .uk-height-max-xsmall {
    max-height: $height-xsmall-height;
  }
}

// WIDTH
@mixin hook-width-misc() {
  .uk-width-wsmall {
    width: $width-wsmall-width;
  }
  .uk-width-xxsmall {
    width: $width-xxsmall-width;
  }
  .uk-width-xsmall {
    width: $width-xsmall-width;
  }
  .uk-width-max-medium {
    max-width: $width-medium-width;
    width: auto;
  }
  .uk-width-max-large {
    max-width: $width-large-width !important;
  }
  .uk-width-max-xlarge {
    max-width: $width-xlarge-width !important;
  }
  .uk-width-max-xlarge-xxlarge {
    max-width: $width-xlarge-xxlarge-width !important;
  }
  .uk-width-max-xxlarge {
    max-width: $width-xxlarge-width !important;
    width: auto;
  }
  .uk-width-max {
    max-width: $width-max-width;
  }
  .uk-full-width-height {
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: $breakpoint-small) {
    .uk-width-max-medium-large\@s {
      max-width: $width-medium-large-width !important;
    }
    .uk-width-max-large\@-s {
      max-width: $width-large-width !important;
    }
  }
}

// MARGIN
@mixin hook-margin-misc() {
  .uk-margin-h {
    margin-left: $global-medium-margin;
    margin-right: $global-medium-margin;
  }
  .uk-margin-v {
    margin-top: $global-medium-margin;
    margin-bottom: $global-medium-margin;
  }
  .uk-margin-small-h {
    margin-left: $global-small-margin * 1.5;
    margin-right: $global-small-margin * 1.5;
  }
  .uk-margin-small-v {
    margin-top: $global-small-margin;
    margin-bottom: $global-small-margin;
  }
  .uk-margin-medium-large-left {
    margin-left: $global-medium-large-margin;
    /* margin-left: 0px !important; */
  }
  .uk-margin-small-medium-top {
    margin-top: $global-small-medium-margin;
    /* margin-left: 0px !important; */
  }
  .uk-margin-small-medium-bottom {
    margin-bottom: $global-small-medium-margin;
    /* margin-left: 0px !important; */
  }
  .uk-margin-medium-large-top {
    margin-top: $global-medium-large-margin;
    /* margin-left: 0px !important; */
  }
  .uk-margin-medium-large {
    margin: $global-medium-large-margin;
    /* margin-left: 0px !important; */
  }
  @media screen and (min-width: $breakpoint-medium) {
    .uk-margin-medium-v\@m {
      margin-top: $global-medium-margin;
      margin-bottom: $global-medium-margin;
    }
    .uk-margin-medium-left\@m {
      margin-left: $global-medium-margin;
    }
    .uk-margin-medium-large-left\@m {
      margin-left: $global-medium-large-margin;
    }
    .uk-margin-top-xsmall\@m {
      margin-top: 8px;
    }
  }
  @media screen and (max-width: $breakpoint-medium-max) {
    .uk-margin-v\@-l {
      margin-top: $global-margin !important;
      margin-bottom: $global-margin;
    }
  }
  @media screen and (max-width: $breakpoint-small-max) {
    // 959px
    .uk-margin-small-top\@-m {
      margin-top: $global-small-margin;
    }
    .uk-margin-small-h\@-m {
      margin-left: $global-small-margin;
      margin-right: $global-small-margin;
    }
    .uk-margin-medium-h\@-m {
      margin-left: $global-medium-margin;
      margin-right: $global-medium-margin;
    }
    .uk-margin-v\@-m {
      margin-top: $global-margin !important;
      margin-bottom: $global-margin;
    }
    .uk-margin-top\@-m {
      margin-top: $global-margin !important;
    }
    .uk-margin-left\@-m {
      margin-left: $global-medium-margin;
    }
    .uk-margin-small-left\@-m {
      margin-left: $global-small-margin;
    }
    .uk-margin-small-right\@-m {
      margin-right: $global-small-margin !important;
    }
    .uk-margin-small-medium-left\@-m {
      margin-left: $global-small-medium-margin;
    }
    .uk-margin-medium-right\@-m {
      margin-right: $global-medium-margin;
    }
    .uk-margin-medium-left\@-m {
      margin-left: $global-medium-margin;
    }
    .uk-margin-medium-top\@-m {
      margin-top: $global-medium-margin;
    }
    .uk-margin-remove-left\@-m {
      margin-left: 0 !important;
    }
  }
  @media screen and (max-width: $breakpoint-xsmall-max) {
    // 639px
    .uk-margin-small-h\@-s {
      margin-left: $global-small-margin !important;
      margin-right: $global-small-margin !important;
    }
  }
}

// PADDING
@mixin hook-padding-misc() {
  .uk-padding-left {
    padding-left: $global-gutter;
  }
  .uk-padding-right {
    padding-right: $global-gutter;
  }
  .uk-padding-top {
    padding-top: $global-gutter;
  }
  .uk-padding-large-top {
    padding-top: $global-large-gutter;
  }
  .uk-padding-bottom {
    padding-bottom: $global-gutter;
  }
  .uk-padding-large-bottom {
    padding-bottom: $global-large-gutter;
  }
  .uk-padding-small-bottom {
    padding-bottom: $global-small-gutter;
  }
  /*   .uk-padding-bottom {
    padding-top: $global-small-gutter;
  } */
  .uk-padding-medium-left {
    padding-left: $global-medium-gutter;
  }
  .uk-padding-v {
    padding-top: $global-small-gutter;
    padding-bottom: $global-small-gutter;
  }
  .uk-padding-h {
    padding-left: $global-small-gutter;
    padding-right: $global-small-gutter;
  }
  .uk-padding-xsmall {
    padding: $global-xsmall-gutter;
  }
  .uk-padding-xsmall-top {
    padding-top: $global-xsmall-gutter;
  }
  .uk-padding-xsmall-v {
    padding-top: $global-xsmall-gutter;
    padding-bottom: $global-xsmall-gutter;
  }
  .uk-padding-medium-v {
    padding-top: $section-padding-vertical;
    padding-bottom: $section-padding-vertical;
  }
  .uk-padding-remove-right {
    padding-right: 0 !important;
  }
  .uk-padding-remove-h {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .uk-padding-remove-v {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  @media screen and (min-width: $breakpoint-medium) {
    .uk-padding-medium-v {
      padding-top: $section-padding-vertical-m;
      padding-bottom: $section-padding-vertical-m;
    }
    .uk-padding-remove-left\@m {
      padding-left: 0 !important;
    }
    .uk-padding-left\@m {
      padding-left: $width-xsmall-width;
      // padding-left: $global-gutter;
    }
    .uk-padding-v\@m {
      padding-top: $global-gutter;
      padding-bottom: $global-gutter;
    }
  }
  @media screen and (max-width: $breakpoint-small-max) {
    // 959px
    .uk-padding-v\@-m {
      padding-top: $global-gutter;
      padding-bottom: $global-gutter;
    }
    .uk-padding-h\@-m {
      padding-left: $global-small-gutter;
      padding-right: $global-small-gutter;
    }
    .uk-padding-medium-v\@-m {
      padding-top: $global-medium-gutter;
      padding-bottom: $global-medium-gutter;
    }
    .uk-padding-small-medium-v\@-m {
      padding-top: $global-small-medium-gutter;
      padding-bottom: $global-small-medium-gutter;
    }
    .uk-padding-small-v\@-m {
      padding-top: $global-small-gutter;
      padding-bottom: $global-small-gutter;
    }
    .uk-padding-xsmall-v\@-m {
      padding-top: $global-xsmall-gutter;
      padding-bottom: $global-xsmall-gutter;
    }
    .uk-padding-remove-left\@-m {
      padding-left: 0 !important;
    }
    .uk-padding-remove-h\@-m {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    .uk-padding-remove-v\@-m {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .uk-padding-large-top {
      padding-top: $global-large-gutter / 2;
    }
    .uk-padding-large-bottom {
      padding-bottom: $global-large-gutter / 2;
    }
  }
  @media screen and (max-width: $breakpoint-xsmall-max) {
    .uk-padding-remove-h\@-s {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

// CONTAINER
@mixin hook-container-misc() {
  .uk-container-medium {
    max-width: $container-medium-max-width;
  }
  .uk-container-small-plus {
    max-width: 1180px;
  }
  .uk-container-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (max-width: $breakpoint-xsmall-max) {
    .uk-container-no-padding\@-s {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// DIVIDER
@mixin hook-divider-misc() {
  [class*='uk-divider'] {
    text-align: center;
  }
  .uk-divider-large::after {
    content: '';
    display: inline-block;
    width: 50%;
    min-width: ($divider-small-width) * 2;
    max-width: $divider-large-width;
    border-top: $divider-small-border-width solid $base-hr-border;
    vertical-align: top;
  }
  @media screen and (max-width: $breakpoint-xsmall-max) {
    * + [class*='uk-divider'] {
      margin-top: ($divider-margin-vertical)/2;
    }
    [class*='uk-divider'] {
      margin-bottom: ($divider-margin-vertical)/2;
    }
  }
}

// SECTION (residence)
@mixin hook-section() {
  max-width: $width-max-width;
}
@mixin hook-section-default() {
  border-bottom: 1px solid rgba($global-link-color, 0.2);
  margin: 0px !important;
  text-transform: uppercase;
  &:last-child {
    border: none;
  }
  h2,
  h3 {
    margin: 0;
  }
  h2 {
    background-color: rgba(248, 247, 247, 0.65);
    display: inline;
    padding: 0 7px 0 0;
  }
  .uk-button {
    margin-top: 5px;
  }
}

// BADGE
@mixin hook-badge() {
  font-family: $base-heading-font-family;
  width: $badge-size;
  height: $badge-size;
  background-color: #ececec;
  color: $global-color;
  // color: $global-link-color;
  font-size: 75%;
  // right: -50px !important;
  text-align: center;
  transform: rotate(-8deg) !important;
  // transform: translateY(-50%) rotate(-8deg) !important;
  line-height: 15px;
  @media screen and (max-width: $breakpoint-xsmall-max) {
    width: round($badge-size * 0.75);
    height: round($badge-size * 0.75);
    font-size: 70%;
    min-width: auto;
  }
}

// POSITION
@mixin hook-position-misc() {
  .uk-position-bottom\@m {
    @media screen and (min-width: $breakpoint-medium) {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

// BUTTON
@mixin hook-button() {
  padding: 0 15px;
  // text-transform: inherit;
}
@mixin hook-button-default() {
  color: $global-color;
}
@mixin hook-button-default-hover() {
  color: $global-color;
}

@mixin hook-button-small() {
  padding: 0 10px;
}
@mixin hook-button-danger() {
  font-family: $base-heading-font-family;
  text-transform: uppercase;
  border-radius: $border-rounded-border-radius;
}

// ICONNAV
@mixin hook-iconnav-item() {
  .uk-iconnav-vertical > * {
    padding-top: $iconnav-margin-vertical;
  }
}

// FORM
@mixin hook-form() {
  border: 1px solid $global-link-color;
  color: $global-link-color;
}
@mixin hook-form-blank() {
  border: none;
  background: rgba($global-background, 0.6);
  color: $global-color;
  input,
  :focus {
    border: none;
    color: $global-color;
  }
}
/* @mixin hook-form-blank-focus() {
  $form-focus-background: $global-background;
  $form-focus-color: $global-color;
} */

// LIST
@mixin hook-list-misc() {
  .uk-list > li {
    &.uk-active a {
      color: $global-link-color;
      text-decoration: underline;
    }
    & > a {
      color: $global-color;
      &:hover,
      &:active,
      &:focus {
        color: $global-link-color;
        text-decoration: underline;
      }
    }
  }
}

// TEXT
@mixin hook-text-misc() {
  .uk-text-xsmall {
    font-size: $global-xsmall-font-size;
  }
}
@mixin hook-text-small() {
  letter-spacing: 1px;
}
.uk-transform-vertical {
  transform: rotate(-90deg);
}

// TABLE
@mixin hook-table-caption() {
  color: inherit;
  font-size: inherit;
}
@mixin hook-table-misc() {
  .uk-table-border {
    border: 1px solid $global-border;
  }
  .uk-table-xsmall th,
  .uk-table-xsmall td {
    padding: $table-xsmall-cell-padding-vertical
      $table-xsmall-cell-padding-horizontal;
  }
  table.uk-table-small tbody tr td:first-child {
    white-space: nowrap;
  }
  table.uk-table-small tbody tr td:last-child {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
}

// CARD
@mixin hook-card() {
  h2 {
    /* ,
  .uk-button */
    color: $global-color;
  }
  /*   h3 {
    font-weight: $base-xstrong-font-weight;
  } */
  .uk-card-title + p {
    margin-top: 0;
  }
}
@mixin hook-card-default() {
  background: transparent;
  text-transform: uppercase;
  font-family: $base-heading-font-family;
  * {
    margin: 0;
  }
  h2 {
    font-size: 2rem;
    line-height: 1.1;
    @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium-max) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: $breakpoint-xsmall-max) {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  h3 {
    font-size: 0.9rem;
    padding-top: 3px;
    @media screen and (max-width: $breakpoint-small-max) {
      font-size: 0.75rem;
      padding-top: 1px;
    }
  }
  .info {
    color: $global-danger-background;
    font-size: ($global-font-size)-2;
    text-transform: lowercase !important;
    line-height: 1rem;
  }
  time {
    font-size: 125%;
    display: block;
    line-height: 1.5rem;
    text-transform: uppercase;
    @media screen and (max-width: $breakpoint-small-max) {
      font-size: 100%;
    }
  }
  // MOMENT
  span.moment-week-day {
    color: $global-link-color;
    @media screen and (max-width: $breakpoint-small-max) {
      display: block;
      color: $global-color;
      font-weight: 300;
      font-size: 90% !important;
      position: relative;
      top: 1px;
    }
  }
  span.moment-month-day {
    font-size: round($heading-hero-font-size * 0.75);
    @media screen and (max-width: $breakpoint-small-max) {
      line-height: 1;
    }
  }
  span.moment-month {
    font-size: 1.3rem;
    font-weight: $base-heading-font-weight;
  }
  span.moment-hour {
    display: block;
  }
  span.moment-week-day,
  span.moment-month-day,
  span.moment-month,
  span.moment-hour {
    @media screen and (max-width: $breakpoint-xsmall-max) {
      font-size: 90%;
    }
    @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-small-max) {
      font-size: 100%;
    }
  }
  .uk-button-danger {
    @media screen and (max-width: $breakpoint-xsmall-max) {
      font-size: 80%;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
@mixin hook-card-misc() {
  .uk-card-small .uk-card-header {
    line-height: 1.3;
    @media screen and (max-width: round($breakpoint-small-max / 1.5)) {
      padding-right: 0px;
      padding-left: 5px;
    }
  }
  .uk-card-small .uk-card-body {
    padding-top: 14px;
    @media screen and (max-width: $breakpoint-small-max) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  #agenda .uk-card-small .uk-card-footer {
    /* #residence + agenda */
    width: 100%;
    /* padding: $card-xsmall-footer-padding-vertical
      $card-small-footer-padding-horizontal $card-xsmall-footer-padding-vertical *
      3 $card-small-footer-padding-horizontal; */
    @media screen and (max-width: $breakpoint-small-max) {
      padding: 0;
    }
  }
}

// BACKGROUNG
@mixin hook-background-misc() {
  /*   .uk-background-third {
    background-color: $background-third-background;
  } */
}

// ARTICLE
@mixin hook-article-meta() {
  font-family: $global-font-family;
}

// NAV
@mixin hook-nav-misc() {
  .uk-nav.uk-nav-compact > li > a {
    padding: $nav-item-padding-vertical-compact $nav-item-padding-horizontal;
  }
}

// UTILITY
/* @mixin hook-box-shadow-bottom() {
} */
body.residence footer {
  margin-bottom: $height-xsmall-height;
}
#residence {
  .uk-box-shadow-bottom::before {
    bottom: 6px !important;
    left: -20px !important;
    right: -20px !important;
    height: 34px !important;
    filter: blur(12px) !important;
  }
}

// NAVBAR
// @mixin hook-navbar-nav-item() {
footer {
  form {
    button.uk-button.uk-button-default {
      color: $global-color;
      &:hover {
        color: darken($global-color, 10%);
      }
    }
  }
  .uk-navbar-nav li {
    &.uk-active a {
      color: $global-background;
    }
    a,
    a:focus {
      font-family: $base-heading-font-family;
      font-weight: $base-xstrong-font-weight;
      // text-transform: uppercase;
      color: $global-link-color;
      &:hover,
      &:active {
        color: $global-background;
      }
    }
  }
  @media screen and (max-width: $breakpoint-small-max) {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    .uk-navbar-nav > li > a {
      font-size: 90%;
      padding-right: 0;
    }
  }
  @media screen and (max-width: $breakpoint-small-max) {
    .uk-navbar-nav.uk-navbar-nav-footer li a {
      // height: 25px;
      min-height: 25px;
    }
  }
}
#primary-nav .uk-navbar-nav li {
  &.uk-active a {
    color: $global-link-color;
  }
  a {
    align-items: flex-end !important;
    color: $global-color;
    &:hover,
    &:active,
    &:focus {
      color: $global-link-color;
    }
  }
}

// OFFCANVAS
// @mixin hook-offcanvas() {
.uk-offcanvas {
  width: $offcanvas-bar-width !important;
}
// Pleine largeur du menu mobile

// TRANSITION
a,
a:hover,
button,
svg,
img,
img:hover {
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
}

// PAGE PODCAST
#podcast {
  section {
    img,
    img a:hover {
      filter: brightness(108%);
    }
    .uk-icon-button {
      background: $global-background;
      width: 56px;
      height: 56px;
    }
    h2 {
      font-size: 1.4rem;
      a {
        color: $global-color;
        &:hover {
          color: $global-link-hover-color;
        }
      }
    }
    h3,
    .uk-h3 {
      font-family: $global-font-family;
      text-transform: none;
      color: $global-link-color;
      font-size: 0.9rem;
    }
    time {
      font-size: 85%;
      line-height: 1.3rem;
    }
    .duration {
      font-weight: 400;
    }
    &.odd-even {
      background-clip: content-box !important;
      @media screen and (max-width: $breakpoint-small-max) {
        .card {
          height: 100px;
        }
        &:nth-child(1n) {
          background: $global-link-color;
          time,
          h2,
          h2 a,
          h3 {
            color: $global-color;
          }
        }
        &:nth-child(2n) {
          background: $global-color;
          time,
          h2,
          h2 a,
          h3 {
            color: $global-link-color;
          }
        }
        .uk-icon-button {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

// AUDIO PLAYER
#audio-player {
  // height: $height-xsmall-height;
  .uk-button {
    &.uk-button-secondary,
    &.uk-button-default {
      padding-top: 5px;
      padding-bottom: 4px;
      line-height: inherit;
      font-weight: $base-xstrong-font-weight;
    }
  }
  p {
    line-height: 1.2;
  }
  span {
    &.audio-time,
    &.audio-duration {
      font-size: 14px;
    }
  }
  h2,
  .uk-h2 {
    font-size: 1.4rem;
    color: $global-color;
  }
  h3,
  .uk-h3 {
    font-family: $global-font-family;
    text-transform: none;
    color: $global-link-color;
    font-size: 0.9rem;
  }
  .progress,
  .duration {
    font-size: 14px;
  }
  nav .uk-iconnav-vertical > li:not(:first-child) {
    padding-top: 10px;
  }
}

// PAGE AGENDA
#collection,
#agenda {
  img:hover {
    filter: brightness(108%);
  }
}
#agenda {
  span.txt {
    opacity: 0;
    padding-right: 0;
    max-width: 0;
    display: inline-block;
    transition: 0.3s;
  }
  a:hover span.txt {
    opacity: 1;
    padding-right: 0.2em;
    max-width: 80px;
    transition: 0.3s;
  }
  section .uk-card.uk-card-default {
    font-weight: $base-xstrong-font-weight;
  }
}

// PAGE AGENDA-DETAIL
#agenda-detail {
  .uk-iconnav-vertical {
    margin-top: (-15px);
  }
  h2 {
    font-family: $global-font-family;
  }
  .agenda-ico .uk-icon {
    position: relative;
    bottom: 1px;
  }
}
#agenda-detail,
#agenda {
  .uk-button.uk-button-danger {
    padding: 0 10px;
    line-height: 35px;
    margin-bottom: 3px;
    .uk-icon {
      position: relative;
      bottom: 2px;
      left: 1px;
    }
  }
  .uk-iconnav-vertical > * {
    padding-top: 13px;
  }
}

// PAGE COLLECTION
#collection h1 {
  // font-weight: $base-strong-font-weight;
  font-size: 1.5rem;
  font-weight: $base-xstrong-font-weight;
  color: $global-color;
  span {
    font-family: $global-font-family;
    font-size: 0.8rem;
    display: block;
    padding-top: 3px;
  }
}

// TIME
time {
  font-family: $base-heading-font-family;
  font-size: 125%;
  display: block;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.uk-iconnav.uk-light > * > a {
  color: $global-color !important;
}

address {
  color: $global-link-color;
  line-height: 1.2;
  font-size: 0.95rem;
}

// HACK OLD LAYOUT
.btngold {
  padding: 5px 20px;
  background: #c4ab78;
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  border: none;
  &[disabled] {
    background: #ccc;
  }
}
/* .margin-left-60 {
  margin-left: $width-xsmall-width;
  @media screen and (max-width: $breakpoint-small-max) {
    margin-left: 0;
  }
} */

// IMAGE
//placeholder
img[data-src][src*='data:image'] {
  background: rgba(0, 0, 0, 0.1);
}
#agenda {
  .odd-even {
    background-clip: content-box !important;
    &:nth-child(1n) {
      background: $global-third-background;
      @media screen and (max-width: $breakpoint-small-max) {
        background: $global-muted-background;
      }
    }
    &:nth-child(2n) {
      background: $global-background;
    }
  }
}
.uk-push-right\@m {
  @media screen and (min-width: $breakpoint-medium) {
    left: $width-xsmall-width !important;
  }
}
