h1 {
  color: #bfab7e;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}
p {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
}

/* --- FROM TELEGRAPHE.ORG */

.post.desktop,
.post.mobile {
  font-family: 'Nunito', sans-serif;
}

.post.desktop h1.oswald,
.post.mobile h1.oswald {
  color: #bfab7e;
  margin: 0;
  margin-bottom: 10px !important;
  font-weight: 100;
}

.post.desktop .category,
.post.mobile .category {
  text-transform: uppercase;
  font-weight: 700;
}

.post.desktop .tag,
.post.mobile .tag {
  text-transform: uppercase;
}

.post.desktop .tag a,
.post.mobile .tag a {
  color: inherit;
}

.post.desktop .date,
.post.mobile .date {
  font-weight: 200;
}

.post.desktop .oswald h2,
.post.mobile .oswald h2 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 100;
}

.post.desktop h2,
.post.mobile h2 {
  margin-top: 0 !important;
  font-weight: 300;
  color: #000;
}

.post.desktop .content,
.post.mobile .content {
  font-family: 'Nunito', sans-serif;
  line-height: 26px;
  color: #000;
  font-weight: 100;
}

.post.desktop .content h1,
.post.desktop .content h2,
.post.mobile .content h1,
.post.mobile .content h2 {
  font-weight: 100;
}

@media (min-width: 640px) {
  .uk-grid > * {
    padding-left: 40px !important;
  }
  .uk-margin-large-top {
    margin-top: 70px !important;
  }
}

.is-thin {
  font-weight: 100;
}

.is-thin div {
  font-weight: 100 !important;
}

.uk-padding-right {
  padding-right: 30px;
}

.blogposts .uk-container.small {
  max-width: 1045px;
}

.blogposts h1,
.blogposts h2 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: transparent;
  font-weight: 100;
}

.blogposts h2 {
  font-size: 1.3em;
}

.blogposts h1 {
  font-size: 30px;
}

.blogposts img {
  filter: grayscale(50%);
  transition: all 1s;
}

.mobile .uk-overlay {
  padding: 3px;
}

.mobile .bpost:hover h1 {
  color: white;
  font-size: 23px;
}

.mobile .bpost:hover h2 {
  color: #aea48e;
  font-size: 1em;
}

.mobile .bpost h1 {
  color: white;
  font-size: 23px;
}

.mobile .bpost h2 {
  color: #aea48e;
  font-size: 1em;
  font-weight: 300;
}

.bpost:hover h1,
.bpost:hover h2 {
  color: #616c64;
}

.bpost:hover .stamp {
  display: block;
}

.bpost:hover img {
  filter: grayscale(0%);
  transition: all 1s;
}

.stamp {
  position: absolute;
  margin-top: -60px;
  margin-left: 22px;
  display: none;
  width: 60px;
}

.video-container {
  background: black;
  text-align: center;
  height: 300px;
  max-height: 600px;
}

.video-container-mobile {
  background: black;
  text-align: center;
  height: 211px;
  max-height: 600px;
}

.uk-offcanvas {
  bottom: inherit;
  background: #434f46;
  overflow-y: visible;
  padding: 0;
  display: none;
}

.uk-offcanvas-bar {
  transform: translateY(-150%);
  position: fixed;
  right: 0;
  bottom: inherit !important;
  width: inherit;
  background: #434f46;
  overflow-y: inherit;
  padding: 0;
  overflow: visible;
}

.uk-open > .uk-offcanvas-bar {
  transform: translateY(0);
  display: block;
}

.slash {
  position: absolute;
  background: #434f46;
  height: 50px;
  transform: skewY(-3deg);
  margin-top: -20px;
  width: 100%;
}

.uk-nav {
  text-align: center;
}

.uk-nav a {
  color: #fff !important;
  font-size: 1.2em;
}

.abonnement {
  color: #3e5143;
}

.abonnement .navbar {
  background: white;
}

.abonnement h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Oswald', sans-serif;
  color: #c4ab78;
  font-weight: 100;
  font-size: 3.4em;
}

.abonnement b {
  font-size: 1.4em;
  color: #3e5143;
  font-weight: normal;
}

.abonnement .grisclair {
  background: #f9f9f9;
}

.abonnement .border-4px {
  margin: 0 30px;
  margin-top: 10px;
  border: 5px solid #c4ab78;
  padding: 30px;
}

.abonnement .border-4px h2 {
  margin: 0;
}

.abonnement .border-4px h3 {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  color: #3e5143;
}

.abonnement .border-4px a {
  padding: 5px 20px;
  background: #c4ab78;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.abonnement .goldbtn {
  padding: 5px 20px;
  background: #c4ab78;
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  border-radius: 10px;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.ticket .uk-margin-large-bottom {
  margin-bottom: 0 !important;
}

.ticket form {
  margin-bottom: 20px;
}

@media (min-width: 640px) {
  .ticket .uk-width-1-3\@m {
    width: 40%;
  }
  .ticket .uk-width-2-3\@m {
    width: 60%;
  }
}

.ticket footer {
  margin-top: 0 !important;
}

.ticket .uk-input {
  height: 30px;
}

html {
  background: #fbf6f7;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  text-transform: lowercase;
}

a.uk-logo {
  padding: 0 !important;
  width: 25px;
  margin-top: -10px;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.uk-navbar-nav > li > a {
  font-size: 16px;
}

.uk-navbar-nav > li > a:hover {
  background: url(/system/pictures/pictures/5b17/da21/71c3/fc02/772d/fde9/original/souligneur.png?1528289825)
    center 55px no-repeat;
}

.uk-navbar-nav .uk-active a {
  background: url(/system/pictures/pictures/5b17/da21/71c3/fc02/772d/fde9/original/souligneur.png?1528289825)
    center 55px no-repeat;
}

iframe {
  height: 100%;
  width: 100%;
}

@media (min-width: 640px) {
  .video-container {
    height: 600px;
  }
  a.uk-logo {
    width: 30px;
    margin-top: 0;
  }
}

footer {
  background: #405044;
  color: white !important;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

footer a i {
  margin-right: 10px;
}

footer .logo {
  margin-top: -15px;
}

footer.footer {
  padding: 30px 0;
  text-align: center;
  color: #434f46;
  background-color: transparent;
  font-weight: 300;
  font-size: 12px;
}

.footer hr {
  border-top: 1px solid #78837c;
  margin-bottom: 40px;
  margin-top: 30px;
}

.footer-top {
  padding: 30px 0px;
  background-color: #f2f3f4;
  color: #444f46;
  text-align: center;
}

.footer-top .argument {
  padding: 0px 60px;
}

.footer-top .argument .argument-name {
  font-size: 16px;
  font-weight: bold;
}

.footer-top .argument .argument-detail {
  font-size: 16px;
  font-weight: 300;
}

.footer-bottom {
  padding: 50px 0px;
  background-color: #444f46;
  color: white;
}

.footer-bottom .follow .follow-list,
.footer-bottom .newsletter .newsletter-input {
  padding-top: 10px;
}

.footer-bottom .newsletter .newsletter-input input {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 4px 8px;
  width: 250px;
}

.footer-bottom .newsletter .newsletter-input input::-webkit-input-placeholder {
  color: white;
}

.footer-bottom .newsletter .newsletter-input input::-moz-placeholder {
  color: white;
}

.footer-bottom .newsletter .newsletter-input input:-ms-input-placeholder {
  color: white;
}

.footer-bottom .newsletter .newsletter-input input:-moz-placeholder {
  color: white;
}

.footer-bottom .follow .follow-list a i,
.footer-bottom .follow .follow-list a:hover i,
.footer-bottom .follow .follow-list a:active i,
.footer-bottom .follow .follow-list a:focus i {
  color: white;
  font-size: 20px;
  padding-right: 10px;
}

.footer-bottom .card {
  border-right: 1px solid #78837c;
  padding-left: 30px;
}

.footer-bottom .card.no-border {
  border: none;
}

.footer-bottom .card .card-title,
.footer-bottom .card .card-title a,
.footer-bottom .card .card-title a:hover,
.footer-bottom .card .card-title a:active,
.footer-bottom .card .card-title a:focus {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 4px 0px;
}

.footer-bottom .card .card-link,
.footer-bottom .card .card-link a,
.footer-bottom .card .card-link a:hover,
.footer-bottom .card .card-link a:active,
.footer-bottom .card .card-link a:focus {
  color: white;
  font-weight: 300;
  text-decoration: none;
  padding: 4px 0px;
}

.footer-bottom .card ul {
  padding-left: 0;
  list-style: none;
}

.footer-bottom .card ul li {
  padding: 4px 0px;
}

.footer-bottom .card ul li a,
.footer-bottom .card ul li a:hover,
.footer-bottom .card ul li a:active,
.footer-bottom .card ul li a:focus {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.footer-bottom .card .card-gift {
  padding: 26px 0px;
}

.footer-bottom .card .card-gift i {
  font-size: 30px;
  color: white;
  margin-right: 5px;
}

.footer-bottom .card .card-gift a,
.footer-bottom .card .card-gift a:hover,
.footer-bottom .card .card-gift a:active,
.footer-bottom .card .card-gift a:focus {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.footer-bottom .card .card-button {
  padding-top: 30px;
}

.footer-top .argument-icon {
  padding: 15px 0px;
}

.newsletter-input input {
  color: white;
}
